@keyframes blink-warning {
    70% {
        color: #fffffa;
    }

    to {
        background-color: #ef972c;
        color: #fffffa;
    }
}

@keyframes blink-critical {
    70% {
        color: #fffffa;
    }

    to {
        background-color: #c35353;
        color: #fffffa;
    }
}

* {
    border: none;
    font-family: 'IBM Plex Sans Light';
    font-size: 13px;
    color: #364954;
    border-radius: 20px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-right {
    background: #fffffa;
    border: 1px solid #f1f8f6;
    margin: 2px 10px 0 0;
}
.modules-center {
    background: #fffffa;
    border: 1px solid #f1f8f6;
    margin: 2px 0 0 0;
}
.modules-left {
    background: #fffffa;
    border: 1px solid #f1f8f6;
    margin: 2px 10px 0 0;
}
/*-----modules indv----*/

#workspaces button {
    background-color: transparent;
    font-family: 'Font Awesome 5 Free';
    padding: 1px 5px;
}

#workspaces button:hover {
    background: rgba(0, 201, 173, 0.67);
}

#workspaces button.focused {
    background: rgba(0, 201, 173, 0.67);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#wireplumber,
#idle_inhibitor {
    padding: 0 10px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #00c9ad;
}
#wireplumber.muted {
    color: #c9545d;
}
#battery.charging {
    background-color: #00c9ad;
    color: #fffffa;
    font-family: 'IBM Plex Sans';
}
#battery.warning:not(.charging) {
	background-color: #ef972c;
    color: #fffffa;
    font-family: 'IBM Plex Sans';
}
#battery.critical:not(.charging) {
    background-color: #c9545d;
    color: #fffffa;
    font-family: 'IBM Plex Sans';
}
#network.disconnected {
    background-color: #c9545d;
    color: #fffffa;
    font-family: 'IBM Plex Sans';
}
#temperature.critical {
    color: #c9545d;
}
tooltip {
    background: rgba(54, 73, 84, 0.67);
    border: 1px solid rgba(156, 175, 176, 0.67);
}
tooltip label {
    color: #fffffa;
}
